$color-yellow: #FFFF00;
$color-yellow-1: #F8F184;
$color-blue: #19587D;
$color-red: #B11313;
$color-black: #0D0E09;
$color-black-1: #000000;
$color-gray: #C4C4C4;
$color-white: #FFFFFF;
$color-gradient-00: #EDDEBF;
$color-gradient-11: #890008;
$color-line: #BCBBBD2A;