@import './hero-game';

header {
  background-position: top-center;
  background-image: url(../img/illustrations_game/Batgame_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(130vh - 30px);
}