@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@font-face {
  font-family: "rajdhani";
  src: url(../../fonts/Rajdhani-Regular.ttf);
}
@font-face {
  font-family: "space-grotesk";
  src: url(../../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
#hero-game .content .title {
  font-family: "rajdhani";
  font-weight: 500;
  font-size: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0D0E09;
  color: #FFFFFF;
  font-family: "space-grotesk", sans-serif;
  font-weight: 300;
}

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

.btn {
  font-family: "rajdhani";
  font-size: 20px;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(70deg, rgba(237, 222, 191, 0.4) 40%, rgba(137, 0, 8, 0.4) 60%);
  box-shadow: #0D0E09 5px 5px 60px;
  margin-left: 20px;
}
.btn:hover {
  background: linear-gradient(80deg, rgb(237, 222, 191) 40%, rgb(137, 0, 8) 60%);
  text-shadow: 2px 2px 3px #0D0E09;
}

.btn-input {
  font-family: "rajdhani";
}

.logo:hover,
.hoveryellow:hover {
  filter: invert(18%) sepia(82%) saturate(4658%) hue-rotate(355deg) brightness(109%) contrast(112%);
}

@font-face {
  font-family: "rajdhani";
  src: url(../../fonts/Rajdhani-Regular.ttf);
}
@font-face {
  font-family: "space-grotesk";
  src: url(../../fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
#hero-game .content .title {
  font-family: "rajdhani";
  font-weight: 500;
  font-size: 36px;
}

.up-bar {
  position: absolute;
  border-top: 2px solid rgba(188, 187, 189, 0.1647058824);
  width: calc(100vw - 200px);
  left: 100px;
  top: 132px;
}

.left-bar,
.right-bar {
  position: absolute;
  border-left: 2px solid rgba(188, 187, 189, 0.1647058824);
  height: 820vh;
}

.left-bar {
  left: 100px;
}

.right-bar {
  right: 100px;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 180px;
  right: 50px;
}
.scroll .social {
  width: 30%;
}
.scroll img {
  margin-top: 20px;
}

nav {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "rajdhani";
  font-weight: 500;
  font-size: 25px;
  color: #FFFFFF;
}
nav ul a:hover, nav ul a:focus {
  color: #FFFF00;
}
nav ul a.active {
  text-decoration: underline;
}
nav .menu-mobile {
  opacity: 0;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-1000px) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-1000px) scale(0.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
#hero-game .content {
  -webkit-animation: fadeInRight 1500ms ease-in-out;
          animation: fadeInRight 1500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 140px;
}
#hero-game .content .title {
  margin-bottom: 40px;
}
#hero-game .arrow {
  display: block;
  margin: 0 auto;
  width: 80px;
  margin-top: 20rem;
}

header {
  background-position: top-center;
  background-image: url(../img/illustrations_game/Batgame_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(130vh - 30px);
}

footer {
  margin-top: 200px;
}
footer .footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
footer .footer-text img {
  margin-right: 10px;
}
footer .footer-social {
  text-align: center;
  margin-top: 40px;
}
footer .footer-social .social-icon {
  padding: 15px;
}
footer .footer-social .social-icon .footer-logo {
  margin-left: 10px;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=game.css.map */